body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh; /* 높이를 원하는 값으로 조절하세요. 100vh는 뷰포트 높이의 100%를 의미합니다. */
    /* background-color:#f9f9f9; */
}

.wrapper{
    width:800px;
    /* border-radius: 10px;
    height:fit-content;
    background-color: white;
    padding: 10px; */
}


/* 기본 리스트 스타일 초기화 */
.box {
    list-style: none;
    padding: 0;
    margin: 20px 0
}

/* 각 li 항목의 스타일 */
.box div {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

/* 호버 효과 */
.box div:hover {
    /* background-color: #e0e0e0; */
    border: 1px solid royalblue;
}


.upbit-link{
    font-weight: bold;
}


.upbit-link:hover{
    cursor: default;
    color:royalblue;
}

.evaluation{
    color:purple;
    font-weight: bold;
}

.date{
    color:cornflowerblue;
}