* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh; 
    max-width: 100%;
    background-color:black;
    color:#ABB2BF;
}

.wrapper{
    max-width:800px;
    height:fit-content;
    border-radius: 10px;
    background-color:#151519;
    padding: 20px;
    margin: 10px 0;
}



/* 기본 리스트 스타일 초기화 */
.box {
    margin-top: 20px;
}

/* 각 li 항목의 스타일 */
.box div {
    /* width:100%; */
    margin-top: 10px;
    padding: 8px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    background-color: #282C34;
    overflow-x: hidden;
}



.upbit-link{
    font-weight: bold;
}


.upbit-link:hover{
    cursor: default;
    color:royalblue;
}

.evaluation{
    color:slategray;
}

.date{
    color:slategray;
}


@media only screen and (max-width: 900px) {
    .wrapper{
        width:95%;
        padding: 5px;
    }

    .box div {
        width:100%;
        margin-top: 10px;
        padding: 8px;
        /* border: 1px solid #ddd; */
        border-radius: 4px;
        background-color: #282C34;
        overflow-x: hidden;
    }
}